In [5]:
import pandas as pd
from pathlib import Path

In [7]:
menu_df = pd.read_csv("menu_data.csv")
menu_df.head()
menu_df.sample()
menu_df.tail()

sales_df=pd.read_csv("sales_data.csv")
sales_df.head()
sales_df.tail()

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
74119,74120,12-31-2018,1697055332228941,4,tonkotsu ramen
74120,74121,12-31-2018,6800009643487106,1,vegetarian spicy miso
74121,74122,12-31-2018,6800009643487106,1,vegetarian spicy miso
74122,74123,12-31-2018,5981057609583653,2,spicy miso ramen
74123,74124,12-31-2018,5981057609583653,2,spicy miso ramen

In [8]:
import pandas as pd
from pathlib import Path

In [10]:
file_path=Path("sales_data.csv")
sales_list=[]
line_num=[]

In [11]:
sales_df=pd.read_csv(file_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
sales_df.head()
sales_df["Quantity"]=sales_df["Quantity"].astype('int') 
sales_df["Quantity"].dtype
sales_df.describe(include='all')

#Select the first-10 rows of the sales dataframe

sales_df.iloc[0:10]
sales_df.iloc[-1]

Line_Item_ID                     74124
Credit_Card_Number    5981057609583653
Quantity                             2
Menu_Item             spicy miso ramen
Name: 2018-12-31 00:00:00, dtype: object